<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wglxy.example.pinchzoompan"
    android:installLocation="preferExternal"
    android:versionCode="5"
    android:versionName="v 1.1">

    <uses-sdk android:minSdkVersion="10" 
              android:targetSdkVersion="19" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/main_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PinchZoomPanActivity2"
            android:label="@string/title1" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.wglxy.example.pinchzoompan.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageSquaresActivity"
            android:label="@string/title_isq" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.wglxy.example.pinchzoompan.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RectanglesActivity"
            android:label="@string/title_r" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.wglxy.example.pinchzoompan.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CircleActivity"
            android:label="@string/title_c1" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.wglxy.example.pinchzoompan.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PinchZoomPanActivity"
            android:label="@string/title_pzl" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.wglxy.example.pinchzoompan.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".FixedPointZoomActivity"
            android:label="@string/title_fpz" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.wglxy.example.pinchzoompan.SAMPLE"/>
            </intent-filter>
        </activity>
        </application>

</manifest>
